@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: Montserrat;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400 !important;
}

a {
  color: black;
  text-decoration: none;
}

.text-link::after{
  content: "";
  display: block;
  width: 0px;
  height:1px;
  background-color: black;
  transition: all 500ms ease-out;
}

.text-link:hover:after{
  width: 100%;
}

.hero {
  height: 550px;
}

.home-hero {
  background: url("assets/heros/homeHero.webp") no-repeat center center;
  background-size: cover;
}

.websitesHero {
  background: url("assets/heros/webDesignHero.webp") no-repeat center center;
  background-size: cover;
}

.projectsHero {
  background: url("assets/heros/projectsHero.webp") no-repeat center center;
  background-size: cover;
}

.aboutHero {
  background: url("assets/heros/aboutHero2.webp") no-repeat center center;
  background-size: cover;
}

.logoHero {
  background: url("assets/heros/logoHero.webp") no-repeat center center;
  background-size: cover;
}

.bg--MDES {
  background: url("./assets/caseStudies/mdes.webp") no-repeat center center;
  background-size: cover;
}

.text-white {
  color: #FFFFFF;
}

.blend-difference {
  color: white;
  mix-blend-mode: difference;
}

.tooltip--bottom-right {
  position: absolute;
  top: 100%;
  left: 75%;
  z-index: 10;
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 6px 12px;
  white-space: nowrap;
  font-size: 14px;
}

.tooltip--container .tooltip--bottom-right {
  opacity: 0;
  transition: all 250ms ease-out;
}

.tooltip--container:hover .tooltip--bottom-right {
  opacity: 1;
}

.galleria {
  width: 1120px;
  height: 1000px;
}

body .galleria-thumbnails .galleria-image { 
  width:325px !important;
}

.galleria-theme-folio .galleria-stage {
  background: rgba(0,0,0,0.75);
}

/* HELPER CLASSES */
.relative {
  position: relative;
}

.mt-large {
  margin-top: 160px;
}

.mt-m {
  margin-top: 112px;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-gray {
  background-color: #F7F7F7;
}

.fs-7 {
  font-size: 14px;
}

.overflow--hidden {
  overflow: hidden;
}

.card--portfolio-img {
  max-height: 175px;
}

.mobileMenuIcon {
  display: none;
}

.pointer {
  cursor: pointer;
}

.icon-md {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
}

#mobileNavMenu::after {
  display: none;
}

.subpageHeroContainer {
  background-color: rgba(0,0,0,0.75);
  padding: 5rem 7rem;
  max-width: 600px;
}

.offcanvas {
  width: 250px !important;
}

/* Case study Accordion overwrites */
#accordionCaseStudy .accordion-button {
  padding: 0px;
  border: none;
  box-shadow: none;
}

#accordionCaseStudy .accordion-item {
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin-bottom: 4rem;
}

#accordionCaseStudy .accordion-button:not(.collapsed) {
  background-color: transparent;
}

@media (max-width: 576px)  {
  .h-sm-30 {
    height: 300px !important;
  }

  .navLink, .navIcons {
    display: none;
  }

  .mobileMenuIcon {
    display: block;
  }

  nav {
    align-items: center;
  }
  
}

@media (max-width: 992px)  {
  nav {
    justify-content: space-between;
    width: 100%;
  }

  .textNavigation .navLink {
    margin-top: 4px;
  }

  .navigation {
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.05);
  }

  .tooltip--bottom-left-m {
    left: auto;
    right: 20%;
  }  
}

@media (min-width: 1200px) { 
  .navigation {
    border-left: 1px solid #d9d9d9;
  }
 }