@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: Montserrat;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400 !important;
}

.h3 {
  font-weight: 400 !important;
}

a {
  color: black;
  text-decoration: none;
}

.text-link::after{
  content: "";
  display: block;
  width: 0px;
  height:1px;
  background-color: black;
  transition: all 500ms ease-out;
}

.text-link:hover:after{
  width: 100%;
}

.navigation {
  z-index: 999;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.05);
  background-color: white;
  position: sticky;
  top: 0;
}

.hero {
  height: 550px;
}

.websitesHero {
  background: url("assets/heros/webDesignHero.webp") no-repeat center center;
  background-size: cover;
}

.projectsHero {
  background: url("assets/heros/projectsHero.webp") no-repeat center center;
  background-size: cover;
}

.aboutHero {
  background: url("assets/heros/S__21094405.webp") no-repeat center center;
  background-size: cover;
}

.logoHero {
  background: url("assets/heros/logoHero.webp") no-repeat center center;
  background-size: cover;
}

.previewImg {
  width:100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius:6px;
}

.projectList .card {
  min-height: 50vh;
}

.projectList .card .content{
  max-width: 630px;
  padding: 0px 1rem;
}

.projectList .bg--mdes {
  background-image: url(assets/backgrounds/bg-mdes.webp);
  background-color: #E1E9F0;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 100%;
}

.projectList .bg--nomnoms {
  background-image: url(assets/backgrounds/bg-nomnoms.webp);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #FFFBF6;
  background-size: auto 100%;
}

.projectList .bg--pradoHealth {
  background-image: url(assets/backgrounds/bg-pradoHealth.webp);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #FFFFFF;
  background-size: auto 150%;
}

.section--testimonial {
  background-image: url(assets/icons/format_quote.svg);
  background-repeat: no-repeat;
  background-position: 98% 98%;
}

.bg--MDES {
  background: url("./assets/caseStudies/mdes.webp") no-repeat center center;
  background-size: cover;
}

.bg--nomnoms {
  background: url("./assets/caseStudies/NomNoms/bg-nomnoms.webp") no-repeat center center;
  background-size: cover;
}

.bg--pradohealth {
  background: url("./assets/caseStudies/pradoHealth/bg-pradohealth.webp") no-repeat center center;
  background-size: cover;
}

.section--mdesMindMap {
  background: url(assets/caseStudies/MDES/mdes_mind-map.webp) rgba(11,36,80, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-blend-mode: multiply;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: white;
}

.text-white {
  color: #FFFFFF;
}

.blend-difference {
  color: white;
  mix-blend-mode: difference;
}

.border-gray {
  border: 1px #E6E6E6 solid;
}

.border-radius--s {
  border-radius: 4px;
}

.border-radius--m {
  border-radius: 8px;
}

.border-radius--l {
  border-radius: 12px;
}

.ls-sm {
  letter-spacing: 1px;
}

.height-full {
  height: 100%;
}

.tooltip--bottom-right {
  position: absolute;
  top: 100%;
  left: 75%;
  z-index: 10;
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 6px 12px;
  white-space: nowrap;
  font-size: 14px;
}

.tooltip--container .tooltip--bottom-right {
  opacity: 0;
  transition: all 250ms ease-out;
}

.tooltip--container:hover .tooltip--bottom-right {
  opacity: 1;
}

.chip-dark {
  padding: 6px 20px;
  background-color: rgba(255,255,255,0.9);
  font-size: 14px;
  font-weight: 600;
  color: #171717;
  border-radius: 100px;
}

.chip-light {
  padding: 6px 20px;
  background-color: rgba(0,0,0,0.1);
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  border-radius: 100px;
}

.galleria-theme-folio .galleria-stage {
  background: rgba(0,0,0,0.75);
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon-heading {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.toc {
  position: sticky;
  top: 70px;
}

.toc .nav-link {
  color: black;
}

.caseStudy-mdes .nav-pills .nav-link.active {
  background-color: #476393;
}

.caseStudy-mdes .list-group-item.active {
  background-color: #476393;
  border-color: #476393;
}

.caseStudy-nomnoms .nav-pills .nav-link.active {
  background-color: #AD5151;
}

.caseStudy-nomnoms .list-group-item.active {
  background-color: #AD5151;
  border-color: #AD5151;
}

.caseStudy-pradohealth .nav-pills .nav-link.active {
  background-color: #A1AFA0;
}

.caseStudy-pradohealth .list-group-item.active {
  background-color: #A1AFA0;
  border-color: #A1AFA0;
}

.number-container {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.color-sample {
  width:100px;
  min-width:100px;
  max-width:100px;
  height:100px;
  min-height:100px;
  max-height:100px;
  padding: 0px !important;
}

/* HELPER CLASSES */
.relative {
  position: relative;
}

.mt-large {
  margin-top: 160px;
}

.mt-m {
  margin-top: 112px;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-gray {
  background-color: #F7F7F7;
}

.bg--gray-rect {
  position: absolute;
  background-color: #F7F7F7;
  width:100%;
  height:100%;
  top:0;
  right:50%;
  z-index:0;
}

.caseStudy-nomnoms .bg-accent {
  background-color: #FDF2E3 !important;
}

.caseStudy-nomnoms .bg-primary {
  background-color: #AD5151 !important;
}


.caseStudy-mdes .bg-primary {
  background-color: #476393 !important;
}

.caseStudy-mdes .bg-primary-dark {
  background-color: #295390 !important;
}

.caseStudy-pradohealth .bg-primary {
  background-color: #A1AFA0 !important;
}

.caseStudy-pradohealth .bg-accent {
  background-color: #FCF6E4 !important;
}

.caseStudy-pradohealth .carousel-indicators {
  bottom: -60px
}

.caseStudy-pradohealth .carousel-control-next, .caseStudy-pradohealth .carousel-control-prev {
  width: auto;
}

.caseStudy-pradohealth .hero-mockup {
  position: absolute;
  right: -300px;
  bottom: -300px;
  width: 500px;
}

@media (max-width: 860px)  {
  .caseStudy-pradohealth .hero-mockup {
    right: -250px;
    bottom: -250px;
    width:400px;
  }
}
@media (max-width: 576px)  {
  .caseStudy-pradohealth .hero-mockup {
    right: -150px;
    bottom: -300px;
    width:300px;
  }
}

.fs-7 {
  font-size: 14px;
}

.overflow--hidden {
  overflow: hidden;
}

.card--portfolio-img {
  max-height: 175px;
}

.mobileMenuIcon {
  display: none;
}

.pointer {
  cursor: pointer;
}

.link--newTab {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.link--newTab::after {
  content: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.30771 17.5C1.80257 17.5 1.375 17.325 1.025 16.975C0.675001 16.625 0.5 16.1974 0.5 15.6923V2.30771C0.5 1.80257 0.675001 1.375 1.025 1.025C1.375 0.675001 1.80257 0.5 2.30771 0.5H8.61535V1.99998H2.30771C2.23077 1.99998 2.16025 2.03203 2.09613 2.09613C2.03203 2.16025 1.99998 2.23077 1.99998 2.30771V15.6923C1.99998 15.7692 2.03203 15.8398 2.09613 15.9039C2.16025 15.968 2.23077 16 2.30771 16H15.6923C15.7692 16 15.8398 15.968 15.9039 15.9039C15.968 15.8398 16 15.7692 16 15.6923V9.38465H17.5V15.6923C17.5 16.1974 17.325 16.625 16.975 16.975C16.625 17.325 16.1974 17.5 15.6923 17.5H2.30771ZM6.71922 12.3346L5.66539 11.2808L14.9462 1.99998H11V0.5H17.5V6.99999H16V3.05381L6.71922 12.3346Z" fill="%231C1B1F"/></svg>');
  margin-top:6px;
}

.icon-md {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
}

#mobileNavMenu::after {
  display: none;
}

.subpageHeroContainer {
  background-color: rgba(0,0,0,0.75);
  padding: 5rem 7rem;
  max-width: 600px;
  min-width:400px;
}

.offcanvas {
  width: 250px !important;
}

/* Case study Accordion overwrites */
#accordionCaseStudy .accordion-button {
  padding: 0px;
  border: none;
  box-shadow: none;
}

#accordionCaseStudy .accordion-item {
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin-bottom: 4rem;
}

#accordionCaseStudy .accordion-button:not(.collapsed) {
  background-color: transparent;
}

@media (max-width: 576px)  {
  .h-sm-30 {
    height: 300px !important;
  }

  .mobile-card-overlay {
    background-image: none !important;
  }

  .subpageHeroContainer {
    padding: 3rem;
    max-width: 600px;
    min-width:80%;
  }

  .display-none-mobile {
    display: none;
  }
}

@media (max-width: 876px) {
  .navLink, .navIcons {
    display: none;
  }

  .mobileMenuIcon {
    display: block;
  }

  nav {
    align-items: center;
  }
  
}

@media (max-width: 992px)  {
  nav {
    justify-content: space-between;
    width: 100%;
  }

  .textNavigation .navLink {
    margin-top: 4px;
  }

  .tooltip--bottom-left-m {
    left: auto;
    right: 20%;
  }

  #mdesPersonaLeftCol {
    border-right: none !important;
    padding-bottom: 0px !important;
  }

  #mdesPersonaRightCol {
    padding-top: 0px !important;
  }

  .w-md-100 {
    width: 100% !important;
  }
}